/* styles.css */
.quiz-container {
    text-align: center;
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.choices button {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    width: 100%;
}
.quiz-container.dd {
    text-align: center;
    background: bisque;
}